{
    "application_id": "INSERT_APPLICATION_ID",
    "emojis": {
        "clear": "🆑",
        "error": "INSERT_EMOJI",
        "fast_forward": "⏩",
        "move": "↕️",
        "next": "⏭️",
        "pause": "⏸️",
        "pending": "INSERT_EMOJI",
        "permission_error": "⛔",
        "ping": "📶",
        "player_now_playing": "📕",
        "player_queue": "📚",
        "player_volume_down": "🔉",
        "player_volume_up": "🔊",
        "previous": "⏮️",
        "queue_empty": "🎉",
        "repeat": "🔁",
        "repeat_one": "🔂",
        "resume": "▶️",
        "rewind": "⏪",
        "searching": "🔍",
        "shuffle": "🔀",
        "soundcloud": "INSERT_EMOJI",
        "spotify": "INSERT_EMOJI",
        "stop": "⏹️",
        "success": "INSERT_EMOJI",
        "vote": "📥",
        "volume_high": "🔊",
        "volume_low": "🔈",
        "volume_medium": "🔉",
        "volume_muted": "🔇",
        "youtube": "INSERT_EMOJI",
        "youtube_music": "INSERT_EMOJI"
    }
}