{
    "application_id": "INSERT_APPLICATION_ID_HERE",
    "emojis": {
        "success": "INSERT_EMOJI_HERE",
        "pending": "INSERT_EMOJI_HERE",
        "error": "INSERT_EMOJI_HERE",
        "permission_error": ":no_entry:",
        "ping": ":signal_strength:",
        "searching": ":mag:",
        "live": "LIVE",
        "arrow_left": ":arrow_left:",
        "arrow_right": ":arrow_right:",
        "player_shuffle": "🔀",
        "player_previous": "⏮️",
        "player_pause": "⏸️",
        "player_resume": "▶️",
        "player_next": "⏭️",
        "player_repeat": "🔁",
        "player_repeat_one": "🔂",
        "player_now_playing": "📕",
        "player_queue": "📚",
        "player_volume_down": "🔉",
        "player_volume_up": "🔊",
        "queue_empty": ":tada:"
    }
}